---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
// import { YouTube } from 'astro-embed';

const metadata = {
  title: 'ODIN - Open Decentralized Innovation Network',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Join ',
        href: 'https://discord.gg/8qXvqH9vG4',
        target: '_blank',
        icon: 'tabler:brand-discord',
      },
      {
        variant: 'primary',
        text: 'Follow',
        href: 'https://twitter.com/odininitiative',
        target: '_blank',
        icon: 'tabler:brand-x',
      },
      {
        variant: 'primary',
        text: 'Watch',
        href: 'https://www.youtube.com/@odininitiative',
        target: '_blank',
        icon: 'tabler:brand-youtube',
      },
      { text: 'Learn more', 
      href: '#Whatis',
      icon: 'tabler:arrow-down'
     },
    ]}
    image={{ src: '~/assets/images/ODIN nework-lowrez.webp', alt: 'ODIN Hello Image' }}
  >
    <Fragment slot="title">
      Welcome to ODIN!
    </Fragment>

    <Fragment slot="subtitle">
        
     We believe that <span class="mb-1 font-bold text-blue-600">decentralized innovation networks</span> will be the primary way we solve hard problems in the world. <span class="block"></span>
To that end, we will <span class="mb-1 font-bold text-blue-600">experiment with and mentor evolutionary organizational principles</span>, and create ways to scale through connecting high-trust spaces so that innovation networks and their members can flourish.

    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />



  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="ODIN = Open Decentralized Innovation Network"
    id='Whatis'
    items={[
      {
        title: 'Open',
        description:
          'Open to everyone to join and participate',
      },
      {
        title: 'Decentralized',
        description:
          'No bosses, managers, or centralized decision-making',
      },
      {
        title: 'Innovation',
        description:
          'Taking ideas from inception to launch through on-boarding, education, mentorship, and funding',
      },
      {
        title: 'Network',
        description:
          'Not a single organization, but a number of independent groups and organizations working together in a coordinated network',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image'
    }}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"> 
      ODIN = Open Decentralized Innovation Network</h3>
    </Fragment> -->

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent">fragment slot bg</div>
    </Fragment> -->
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    title="ODIN Initiatives"
    items={[
      {
        title: 'ODIN Study Group',
        description: `Weekly meetup to discuss and practice governance and collaboration concepts`,
      },
      {
        title: 'Sociocracy 3.0',
        description:
          'We organize ourselves with S3 principles and patterns. ',
      },
      {
        title: 'Collaborative Sparks',
        description:
          "Direct support for social impact organizations and tools for impact",
      },
      {
        title: 'Weekly Meetings',
        description:
          'We meet on Zoom and ',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <!-- <Fragment slot="content">ODIN initiatives</Fragment> -->

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <!-- Content Widget **************** -->

  <Content
    title="Values"
    isReversed
    isAfterContent
    items={[
      {
        title: 'Open Source',
        description:
          'All contributions in the network are open and shared through open source or creative commons licenses',
      },
      {
        title: 'Sustainable',
        description:
          'Open to commercial and non-profit members. The network will help secure resources for the non-profit members and connect the commercial ideas to funding.',
      },
      {
        title: 'Evolutionary Operating System',
        description:
          'Governance of the network will be done through “Teal”-based open source methodologies (eg: Sociocracy 3.0)',
      },
      {
        title: 'Community',
        description: `We create community and high levels of trust through relationships-building and human connection.`,
      },
      {
        title: 'Emergent',
        description: `The network builds culture and mechanisms to sense opportunities, resolve tensions, and co-create new possibilities that emerge from the interactions of the whole.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->
  
  <div class="flex flex-col justify-center items-center h-screen w-full">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Join us for an event</h3>
  <iframe src="https://calendar.google.com/calendar/embed?src=odinsharedcalendar%40gmail.com" style="border: 0" width="800" height="600"></iframe></div>

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Features2 Widget"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="We get questions all the time.  If you don't see your's below, join the Discord and ask there."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is ODIN?',
        description:
          "ODIN stands for Open Decentralized Innovation Network.  We are a network of people focused on problems and solutions to the 'wicked problems' we sense around us.  We are here to help and develop together.",
      },
      {
        title: 'What can I do here?',
        description:
          'You can join the discord and discuss topics.  You can come to meetings and contribute to an initiative, or draft and present your own.',
      },
      {
        title: 'What do I need to start?',
        description:
          "We are totally open.  Anyone can contribute. It does help if you can understand and speak English.",
      },
      {
        title: "Why should I contribute to ODIN?",
        description:
          "I can only speak for myself, but I love the opportunity to contribute to meaningful projects. I love the skills I'm learning.  And, I love the friendships and sense of shared purpose around here.",
      },
      {
        title: 'When does ODIN meet?',
        description:
          "Ah!  Join the Discord for the Events channel and check out the Google Calendar on this site.",
      },
      {
        title: 'I have a big idea.  Can ODIN help me?',
        description:
          "Absolutely.  Innovators and builders are welcome here.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: 'not many' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
{
        variant: 'primary',
        text: 'Join ',
        href: 'https://discord.gg/8qXvqH9vG4',
        target: '_blank',
        icon: 'tabler:brand-discord',
      },
      {
        variant: 'primary',
        text: 'Follow',
        href: 'https://twitter.com/odininitiative',
        target: '_blank',
        icon: 'tabler:brand-x',
      },
      {
        variant: 'primary',
        text: 'Watch',
        href: 'https://www.youtube.com/@odininitiative',
        target: '_blank',
        icon: 'tabler:brand-youtube',
      },
    ]}
  >
    <Fragment slot="title">
      Welcome to the ODIN project!
    </Fragment>

    <Fragment slot="subtitle">
We are glad you are here
    </Fragment>
  </CallToAction>
</Layout>
