---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Initiatives from '~/components/Initiatives.astro';

// import { YouTube } from 'astro-embed';

const metadata = {
  title: 'ODIN - Open Decentralized Innovation Network',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'CIP-1694 Governance Skills Development',
        href: 'https://cardano.ideascale.com/c/idea/129824',
        target: '_blank',
      },

      {
        variant: 'primary',
        text: 'Empowering Cardano Governance: Project-Based Learning Modules for CIP-1694 Voltaire Participation',
        href: 'https://cardano.ideascale.com/c/idea/131782',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> ODIN Fund13 proposals! </Fragment>
  </CallToAction>
 -->  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Join ',
        href: 'https://discord.gg/8qXvqH9vG4',
        target: '_blank',
        icon: 'tabler:brand-discord',
      },
      {
        variant: 'primary',
        text: 'Follow',
        href: 'https://twitter.com/odininitiative',
        target: '_blank',
        icon: 'tabler:brand-x',
      },
      {
        variant: 'primary',
        text: 'Watch',
        href: 'https://www.youtube.com/@odininitiative',
        target: '_blank',
        icon: 'tabler:brand-youtube',
      },
      { text: 'Learn more', href: '#Whatis', icon: 'tabler:arrow-down' },
    ]}
    image={{ src: '~/assets/images/ODIN nework-lowrez.webp', alt: 'ODIN Hello Image' }}
  >
    <Fragment slot="title"> Welcome to ODIN! </Fragment>

    <Fragment slot="subtitle">
      We believe that <span class="mb-1 font-bold text-blue-600">decentralized innovation networks</span> will be the primary
      way we solve hard problems in the world. <span class="block"></span>
      To that end, we will <span class="mb-1 font-bold text-blue-600"
        >experiment with and mentor evolutionary organizational principles</span
      >, and create ways to scale through connecting high-trust spaces so that innovation networks and their members can
      flourish.
    </Fragment>
  </Hero>


  <Initiatives />
  <!-- Note Widget ******************* -->

  <Note />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="ODIN = Open Decentralized Innovation Network"
    id="Whatis"
    items={[
      {
        title: 'Open',
        description: 'Open to everyone to join and participate',
      },
      {
        title: 'Decentralized',
        description: 'No bosses, managers, or centralized decision-making',
      },
      {
        title: 'Innovation',
        description: 'Taking ideas from inception to launch through on-boarding, education, mentorship, and funding',
      },
      {
        title: 'Network',
        description:
          'Not a single organization, but a number of independent groups and organizations working together in a coordinated network',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    title="ODIN Initiatives"
    items={[
      {
        title: 'ODIN Study Group',
        description: 'Weekly meetup to discuss and practice governance and collaboration concepts.  The Theme for 2025 Quarter 1 is: Networkiness and focuses on the book "Impact Networks".',
      },
      {
        title: 'Sociocracy 3.0',
        description: 'We organize ourselves with S3 principles and patterns. ',
      },
      {
        title: 'Collaborative Sparks',
        description: 'Direct support for social impact organizations and tools for impact.',
      },
      {
        title: 'Weekly Meetings',
        description:
          'We meet on Zoom and Discord several times a week.  Find out the details on the Calendar and the discord event channel. ',
      },
      {
        title: 'Accountability Room',
        description:
          'An Accountability Space is a virtual space designed to help participants stay focused, productive, and aligned with their goals.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  />
  <!-- Initiative links -->
  <Initiatives />

  <!-- Content Widget **************** -->

  <Content
    title="Values"
    isReversed
    isAfterContent
    items={[
      {
        title: 'Open Source',
        description:
          'All contributions in the network are open and shared through open source or creative commons licenses',
      },
      {
        title: 'Sustainable',
        description:
          'Open to commercial and non-profit members. The network will help secure resources for the non-profit members and connect the commercial ideas to funding.',
      },
      {
        title: 'Evolutionary Operating System',
        description:
          'Governance of the network will be done through “Teal”-based open source methodologies (eg: Sociocracy 3.0)',
      },
      {
        title: 'Community',
        description: `We create community and high levels of trust through relationships-building and human connection.`,
      },
      {
        title: 'Emergent',
        description: `The network builds culture and mechanisms to sense opportunities, resolve tensions, and co-create new possibilities that emerge from the interactions of the whole.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  />

  <!-- Calendar ******************* -->
  <div class="flex flex-col justify-center items-center h-screen w-full">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl m-6">Join us for an event</h3>
    <iframe
      src="https://calendar.google.com/calendar/embed?src=odinsharedcalendar%40gmail.com"
      style="border: 0"
      width="800"
      height="600"></iframe>
  </div>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="We get questions all the time.  If you don't see your's below, join the Discord and ask there."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is ODIN?',
        description:
          "ODIN stands for Open Decentralized Innovation Network.  We are a network of people focused on problems and solutions to the 'wicked problems' we sense around us.  We are here to help and develop together.",
      },
      {
        title: 'What can I do here?',
        description:
          'You can join the discord and discuss topics.  You can come to meetings and contribute to an initiative, or draft and present your own.',
      },
      {
        title: 'What do I need to start?',
        description:
          'We are totally open.  Anyone can contribute. It does help if you can understand and speak English.',
      },
      {
        title: 'Why should I contribute to ODIN?',
        description:
          "I can only speak for myself, but I love the opportunity to contribute to meaningful projects. I love the skills I'm learning.  And, I love the friendships and sense of shared purpose around here.",
      },
      {
        title: 'When does ODIN meet?',
        description: 'Ah!  Join the Discord for the Events channel and check out the Google Calendar on this site.',
      },
      {
        title: 'I have a big idea.  Can ODIN help me?',
        description: 'Absolutely.  Innovators and builders are welcome here.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: 'not many' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join ',
        href: 'https://discord.gg/8qXvqH9vG4',
        target: '_blank',
        icon: 'tabler:brand-discord',
      },
      {
        variant: 'primary',
        text: 'Follow',
        href: 'https://twitter.com/odininitiative',
        target: '_blank',
        icon: 'tabler:brand-x',
      },
      {
        variant: 'primary',
        text: 'Watch',
        href: 'https://www.youtube.com/@odininitiative',
        target: '_blank',
        icon: 'tabler:brand-youtube',
      },
    ]}
  >
    <Fragment slot="title"> Welcome to the ODIN project! </Fragment>

    <Fragment slot="subtitle"> We are glad you are here </Fragment>
  </CallToAction>

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'CIP-1694 Governance Skills Development',
        href: 'https://cardano.ideascale.com/c/idea/129824',
        target: '_blank',
      },

      {
        variant: 'primary',
        text: 'Empowering Cardano Governance: Project-Based Learning Modules for CIP-1694 Voltaire Participation',
        href: 'https://cardano.ideascale.com/c/idea/131782',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> ODIN Fund13 proposals! </Fragment>
  </CallToAction> -->
</Layout>
